@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts */
@font-face {
  font-family: 'Involve-Regular';
  src: url('./fonts/Involve-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Involve-Medium';
  src: url('./fonts/Involve-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Involve-SemiBold';
  src: url('./fonts/Involve-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Involve-Bold';
  src: url('./fonts/Involve-Bold.ttf') format('truetype');
}

/* Global box-sizing rule */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Base styles for body and html */
body {
  font-family: 'Involve-Medium', sans-serif;
  overflow-x: hidden !important;
}

html {
  scroll-behavior: smooth !important;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: black !important;
  box-shadow: none !important;
}

input[type="checkbox"]:checked {
  background-color: black !important;
  border-color: black !important;
}

input[type="checkbox"]:focus {
  outline: none !important;
  box-shadow: none !important;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    background-color: black;
  }
  to {
    transform: translateX(0);
    background-color: white;
  }
}

.slide-in {
  animation: slideIn 1s ease-out forwards;
}

::-webkit-scrollbar {
  width: 8px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #234436;
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background: black;
}

@media (max-width: 768px) {
  .hidden-mobile {
    display: none;
  }
}

@media (min-width: 769px) {
  .hidden-no-mobile {
    display: none;
  }
}